<!DOCTYPE HTML>
<html lang=en>
<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	
</head>
<body>
		<nav>
    		<ul>
        		<li><a href="https://kayleymcphee.com/index.html">Home</a></li>
	        	<li><a href="https://kayleymcphee.com/about.html">About</a></li>
            		<li><a href="https://kayleymcphee.com/portfolio.html">Portfolio</a></li>
    		</ul>
		</nav>
		<div class="container">
      
      {{ content }}
      
    </div><!-- /.container -->
		<footer>
    		<ul>
        		<li>Kayley McPhee 2018</li><li>Looking for the fun site? Click <a href="https://kayleymcphee.com/fun/index.html">here.</a></li>
		</ul>
		</footer>
	</body>
</html>
